{% extends 'dashboard/layouts/base.html.twig' %}
 


    {# to include heading page #}
    {% block heading %}
    <div class="col-md-12"> 
     
        <h1 class="page-header">
            Products
            <small>Subheading</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Categories
            </li>
        </ol>
    </div>
    {% endblock %}
     





{# to include body #}

{% block body %}
<div class="col-md-12">
 
    <a class="btn btn-primary" href="{{url('product_create')}}">
    <i class="fa fa-plus"></i> Add Category</a>

</div>
<div class="col-md-12">
    <h2>Categories Table</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>/index.html</td>
                        <td>1265</td>
                        <td>32.3%</td>
                        <td>$321.33</td>
                    </tr>
                     
                </tbody>
            </table>
        </div>
    </div>
        

{% endblock %}