{% extends 'dashboard/layouts/base.html.twig' %}
 


    {# to include heading page #}
    {% block heading %}
    <div class="col-md-12"> 
     
        <h1 class="page-header">
            Dashboard
            <small>Subheading</small>
        </h1>
        
    </div>
    {% endblock %}
     





{# to include body #}

{% block body %}
<div class="col-md-12">
 
    Body Page

</div>
        

{% endblock %}