{% extends 'site/layouts/base.html.twig' %}

{% block body %}
      
 	<header class="jumbotron my-4">
		<h1 class="display-3">Welcome About Us</h1>
	
	</header>
	<div class="row text-center">
        
        <div class = "col-md-12">

            <p>Hello In about Us Page</p>
        </div>
       
 <!-- Button trigger modal -->

      </div>
        </div>
        </div>
         {%endblock%}