{# to in include layouts/header #}
{% include 'site/layouts/header.html.twig' %}  


<div class="container">


    {# to in include layouts/nav #}
    {% include 'site/layouts/nav.html.twig' %}


    {# body content #}
    <div id="content">
     
        {% block body %}{% endblock %}
    </div>
</div>



{# to in include layouts/footer #}
 {% include 'site/layouts/footer.html.twig' %}