 <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
     <!-- jQuery -->
     <!-- Default-JavaScript -->
	 <script src="/js/dashboard/jquery-2.2.3.js"></script>
    {# <script src="/js/dashboard/jquery.js"></script> #}
    <script src="/js/dashboard/popper.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/dashboard/bootstrap.min.js"></script>
    <script src="/js/dashboard/jquery.number.min.js"></script>
    <script src="/js/dashboard/main.js"></script>
  </body>

</html>