<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
      
    <title>Online Store</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/site/bootstrap.min.css" rel="stylesheet">



{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> #}
    <!-- Index-Page-CSS -->
      
      <!-- //Custom-Stylesheet-Links -->
      
      <!-- //fonts -->
     
   <link href="/css/site/cart_shop.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/css/dashboard/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/site/heroic-features.css" rel="stylesheet">
  
  </head>

  <body>