<!DOCTYPE html>

<title>Hello AcountController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/media/ahmed/84abda1b-b7e8-49b9-b72c-86dc6da693aa/My Projects/symfony/sites/store/src/Controller/AcountController.php'|file_link(0) }}">src/Controller/AcountController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/media/ahmed/84abda1b-b7e8-49b9-b72c-86dc6da693aa/My Projects/symfony/sites/store/templates/acount/index.html.twig'|file_link(0) }}">templates/acount/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
